.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}

.contact-title {
  margin: 50px 0 30px;
  text-align: center;
}

.facility-wrapper {
  max-width: 350px;
}
.facility {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
/* Location & Map */
.location-hours {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.map-container,
.trading-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 2;

  max-width: 350px;
  align-items: center;
  margin: 0 40px;
}

.trading-container {
  flex: 1;
  min-width: 350px;
  max-width: 500px;
}

.address-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.location-dot {
  margin-right: 10px;
}

.map-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  max-height: 60vh;
  margin: 0 auto;
  max-width: 350px;
}

.map-iframe {
  width: 320px;
  height: 400px;
  border: 0;
}

.marker-img {
  position: absolute;
  top: 36%;
  left: 52%;
  transform: translate(-50%, -100%);
  width: 30px;
}

/* Trading Hours */
.trading-container {
  max-width: 300px;
  height: 400px;
}

.trading-hours {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.trading-days-times {
  display: flex;
  justify-content: center;
  gap: 30px;
  line-height: 3rem;
}

.days,
.times {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.days div {
  font-weight: bold;
}

.times div {
  color: #555;
  margin-left: 10px;
}

/* Consultation */
.consultation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.consultation-title {
  font-size: 20px;
}

.kakao-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.icon {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .location-hours {
    flex-direction: column;
  }

  .map-wrapper {
    border-radius: 8px;
  }

  .marker-img {
    top: 25%;
    left: 56%;
    width: 25px;
  }

  .map-container {
    margin-bottom: 20px;
    min-width: unset;
    max-width: 80%;
    width: 90%;
  }

  .consultation {
    width: 90%;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .map-wrapper {
    height: 200px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .consultation-title {
    font-size: 14px;
  }

  .kakao-link {
    font-size: 14px;
  }
}
