.home-section {
  padding: 0 15px;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
}

.homepage {
  width: 100%;
  height: auto;
  display: block;
}

/* Tablets and Below */
@media (max-width: 768px) {
  .list-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Devices */
@media (max-width: 576px) {
  .facility-image-wrapper {
    flex: 1 1 calc(33.333% - 20px); /* Show 3 images per row on mobile */
    max-width: calc(
      33.333% - 20px
    ); /* Ensure the width allows for 3 images per row */
  }
}
