.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  width: 70%;
}

.slide-container {
  width: 100%;
  margin: 0 auto;
}

.slide-item {
  position: relative;
  padding: 0 15px;
}

.slide-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: 2px solid #000;
  outline-offset: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.threeD-map {
  height: 400px;
}

.contact-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.map-name {
  text-align: center;
  margin-top: 40px;
}

.naver-map {
  max-width: 70%;
  height: auto;
  padding: 20px;
}

.googleMap-container {
  text-align: center;
  width: 67%;
  height: 600px;
  margin: 20px 0;
}

.consultation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.kakao-link {
  display: flex;
  align-items: center;
}

.kakao-link p {
  margin: 0;
}

.icon {
  width: 50px;
  height: 50px;
  border-color: #e5e7eb;
}

.address {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  margin-top: 20px;
}

.contact-phone {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;

  padding: 5px 5px;
}

/* ============================================================================================== */
@media (max-width: 768px) {
  .slide-image {
    width: 100%;
    height: 200px;
    border: 2px solid #ddd;
    margin: 10px 10px;
  }

  .map-name {
    font-size: 14px;
    margin-top: 10px;
  }
  .naver-map-title {
    font-size: 14px;
  }
  .naver-map {
    max-width: 100%;
  }

  .googleMap-container {
    width: 90%;
    height: 700px;
    margin-top: 0;
  }

  .consultation {
    margin-top: 10px;
  }

  .contact-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .contact-phone {
    font-size: 16px;
  }
}
/* ============================================================================================== */
@media (max-width: 576px) {
  .slide-image {
    height: 100px;
    border: 2px solid #ddd;
  }

  .googleMap-container {
    width: 80%;
    height: 120px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .address {
    font-size: 14px;
  }

  .contact-phone {
    font-size: 14px;
  }
  .kakaotalk {
    font-size: 14px;
  }
}
