.navbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.nav-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.navbar-link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: 20px;
  padding-right: 10px;
}

.nav-link {
  font-size: 1.3rem !important;
  margin: 0 10px;
  align-items: center;
  font-family: "Apple Chancery, cursive";
  text-align: center;
}

.booking-button {
  font-size: 17px !important;
  font-family: "Noto Sans KR", "Nanum Gothic", "Malgun Gothic", sans-serif;
  border-radius: 5px;
  transition: padding 0.3s ease, font-size 0.3s ease;
  max-width: 100%;
  text-align: center;
  justify-items: center;
  margin-left: 10px;
}

.language-switcher {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
  margin-right: 40px;
}

.flag-icon {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  border: none;
  padding: 3px;
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-icon:hover {
  opacity: 0.8;
}

.navbar-toggler {
  border: none;
}

/* ======================================================================== */
@media (max-width: 992px) {
  .nav-link {
    font-size: 24px;
  }
}

/* ============================================================================ */
@media (max-width: 768px) {
  .logo {
    width: 120px;
    height: 120px;
    margin-left: 30px;
  }
  .nav-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    right: 10px;
    gap: 0px;
  }

  .nav-link {
    font-size: 16px !important;
  }

  .booking-button {
    font-size: 14px !important;
    width: auto;
    max-width: 100px;
    margin-left: 0px;
  }

  .language-switcher {
    margin-left: 0;
  }

  .flag-icon {
    width: 40px;
    height: auto;
  }
}

/* ========================================================================= */
@media (max-width: 576px) {
  .logo {
    width: 100px;
    height: 120px;
  }

  .nav-link {
    font-size: 14px !important;
  }

  .booking-button {
    padding: 5px 10px;
    font-size: 8px;
    width: auto;
    max-width: 80px;
  }

  .flag-icon {
    width: 50px;
    height: auto;
  }
}
